@import '~materialize-css/dist/css/materialize.min.css';
@import url('https://fonts.cdnfonts.com/css/bull');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Passion+One:wght@400;700;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(231, 231, 231) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokemon-image {
  width: 150px;
  /* ou toute autre taille spécifique */
  height: 150px;
  /* ou toute autre taille spécifique */
  object-fit: cover;
  
}

.countPoke{
  color: red;
  font-weight: 400;
}
.card {
  transition: transform 0.8s ease-in-out, border-color 0.8s ease-in-out; 
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px !important;
  overflow: hidden;
  border: 4px rgba(0, 0, 255, 0.4) solid !important;
  background-color: rgba(53, 53, 52, 0.1);
  background-image: url('https://i.pinimg.com/564x/2e/09/e7/2e09e7173790df4c3fa8994b1f6ce7c8.jpg');
  background-blend-mode: overlay;
  background-position: 50% 80%;
}

.card:hover {
  transform: scale(1.05); /* Augmenter l'échelle de la carte au survol */
  border: 4px #ece92c solid !important;
}

.card-text{
  display: flex;
  gap: 6px;
  align-items: center;
  position: relative;
  z-index: 6;
}

.delete-btn{
  position: relative;
  z-index: 5;
}
a {
  text-decoration: none !important;
  color: black;
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: 'Jost' !important;
}

h1, h2{
  font-family: 'Jost' !important;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(45,103,174) !important;
}

h5{
  font-family: 'Passion One' !important;
  text-transform: uppercase;
  font-weight: 400;
}

li{
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 2px;
}

.styledTitle{
  color: rgb(255,203,5);
  -webkit-text-stroke: 1px rgb(45,103,174); 
  font-weight: 600;
}

input {
  background-color: white !important;
  padding: 0.6em !important;
  border-radius: 6px !important;
  border: 1px rgb(11, 83, 56) solid !important;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1) !important; /* Ajout d'une ombre interne claire */
}

.pokemon-img{
  object-fit: cover;
    transform: scale(0.8);
    right: -30px; 
    bottom: 0;
    position: absolute;
    /* width: 320px; */
    z-index: 1 !important ;
    height: 100% !important;
    margin-left: 20px;
    filter: hue-rotate(1);
    width: fit-content;
}


.graph{
  z-index: 10 !important;
  display: none !important;
}
.col-md-8{
  width: 100% !important;
}
.pos-absolute{
  position: relative;
}

button{
  position: relative;
  z-index: 12;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 0.9rem !important;
  font-weight: 600;
  outline: none;
  border: 1px white solid !important;
}

.navbar-toggler{
  display: none !important;
}
.cardNum{
  position: absolute;
    font-size: 250px;
    right:  5%;
    bottom: -110px;
    margin-top: 0px;
    font-weight: 400;
    font-family: 'Passion One' !important;
    opacity: 0.3;
    z-index: 0 !important;
    color: #0a58b1; /* Couleur de base du texte */
    transform: rotate(40deg);

}
.cardNum::before {
  content: attr(data-num); /* Utilise le contenu du même numéro */
  position: absolute;
  top: 6px;
  left: 3px;
  z-index: -1; /* Met l'ombre derrière le texte principal */
  color: transparent; /* Rend le texte transparent */
  -webkit-text-stroke: 2px black; /* Crée le contour noir */
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  opacity: 1;
}

.section-action{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
  border-bottom: 1px rgb(180, 180, 180) solid;
  border-top: 1px rgb(180, 180, 180) solid;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.typeFilter{
    width: fit-content !important;
    text-align: end;
    display: flex !important;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.typeFilter p{
  margin-bottom: 0px !important;
  font-family: 'Jost' !important;
  font-size: 1.4rem;
  color: #0D6EFD;
  display: flex;
  align-items: center;
  gap: 4px;
}

.typeFilter .info{
  margin-bottom: 0px !important;
  font-family: 'Jost' !important;
  font-size: 0.8rem;
  color: #181818;
  font-style: italic;
}

label{
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  column-gap: 12px;
  font-weight: 400;
  cursor: pointer;
}
label input{
  opacity: 1 !important;
  margin-top: -10px !important;
}
/* --------------- type class ------ */
.type-water {
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;

}

.type-bug {
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-flying {
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-fire {
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-normal {
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-electric {
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-grass {
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-ice {
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-fighting {
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}


.type-poison {
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-ground{
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-rock{
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-dragon{
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-dark{
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}


li{
  display: flex;
  gap: 6px;
}
li p{
  margin-bottom: 0px !important;
}

.type-steel{
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-fairy{
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.type-psychic{
  padding: 0.5em;
  border-radius: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}